*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json

# Secrets and Keys
*.jks
*.keystore
google-services.json

# IDE Files
.idea/
out/
gen/

# Build files
build/
.gradle/

# Captures
captures/